body {
	background: url("../../Images/bg/bg_2.jpg") no-repeat center center
		fixed;
	background-size: cover;
}

body .container {
	background: #FFFFFF;
	height: 100%;
	font-family: defaultFont;
	font-size: 120%;
}

.card {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 200px;
}

.card:hover {
}

.card>img {
	width: 100%;
}

.card .card-content {
	padding: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	top: -300px;
	transition: 0.3s;
	transform: rotate(2deg);
}

.form-sher>div.row {
	margin-bottom: 10px;
}

.alert {
	transition: .5s ease;
}

.form-sher .header-sher {
	text-align: right;
}

.content-body {
	padding: 15px;
}

.menuNavBlock li.menuNav:hover {
	background: #b00202;
	color: #FFFFFF;
	transition: .5s;
}

.menuNavBlock li.menuNav a:hover {
	font-size: 200%;
	color: #FFFFFF;
	transition: .5s;
}

.menuNavBlock-admin li.menuNav-admin:hover {
	background: #242666;
	transition: .5s;
}

.menuNavBlock-admin li.menuNav-admin a:hover {
	font-size: 200%;
	color: #FFFFFF;
	transition: .5s;
}

.menuNavBlock-inside li.menuNav-inside a:hover {
	color: #242666;
	transition: .5s;
}

@media ( max-width : 767px) {
	.menuNavBlock-inside li.menuNav-inside a:hover {
		color: #FFFFFF;
	}
	.menuNavBlock-admin li.menuNav-admin:hover .menuNavBlock-inside li.menuNav-inside
		{
		background: #eee;
		transition: .5s;
	}
	.menuNavBlock-admin li.menuNav-admin .menuNavBlock-inside li.menuNav-inside:hover
		{
		background: #242666;
		color: #FFFFFF;
		transition: .5s;
	}
	.menuNavBlock-admin li.menuNav-admin .menuNavBlock-inside li.menuNav-inside:hover a
		{
		color: #FFFFFF;
		transition: .5s;
	}
	.form-sher .header-sher {
		text-align: left;
	}
	.card {
		width: 100%;
		height: auto;
		margin-bottom: 20px; box-shadow : 0 4px 8px 0 rgba( 0, 0, 0, 0.2);
		transition: 0.3s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
}

.headerbanner {
	background: url("../../Images/banner/header.jpg") no-repeat center
		center;
	background-size: cover;
	height: 506px;
}

table.tableLogin {
	width: 100%;
}

.navContainer {
	width: 100%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.navContainer  div {
	padding: 0;
	margin: 0;
}

.navBlock {
	display: block;
	width: 100%;
	padding: 10px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	text-align: center;
	float: left;
	opacity: 0.5;
	transition: .5s ease;
	background: url("../../Images/Menu Nav/img-button-cut.jpg") no-repeat
		center center;
}

.navBlock:hover {
	opacity: 1;
	transition: .5s ease;
}

.navContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

a.buttonFooter {
	width: 100%;
}

input.buttonFooter {
	width: 100%;
}

div.footerLogin {
	padding-top: 10px;
}

span.span-img-howto {
	font-size: 300%
}

.navBlock:hover .navContent {
	display: block;
	transition: 0.5s ease;
}

p.error-text {
	text-align: center;
}

span.label-danger h3 {
	color: #a94442;
}

h3.center-content {
	text-align: center;
}

@font-face {
	font-family: defaultFont;
	src: url("../fonts/Superspace Regular ver 1.00.ttf");
}